
.input {
    display: inline;
    margin: 22px;
    border: 4px solid;
    padding: 3px;
    max-width: 300px;
    width: 50%;
    border-radius: 10px;
    border-color: blueviolet;
    align-items: center;
    
}

.diva {
    justify-items: auto;
    justify-content: right;
    text-align: left;
}
 
.navigate {
  border: 10%;
  justify-items: auto;
}

.click {
  cursor: pointer;
  color: #4caf50;
  border-color: crimson;
  border: 5px;
  border-radius: 15px;

}

.result {
  display: block;
}